.navbar {
  box-shadow: 2px 2px 5px #000;
  opacity: 0.9;
}

.navbar {
  margin-top: -8px;
  background-image: linear-gradient(-90deg,  #d38312, #a83279);
}
.navbar  {
  color: #228b22;



}
.navbar-brand {
color: #a83279;

}

.nav-link {
    color: orange;
}


.nav-item  {
  color: #228b22;
  
}

.main-header {
  position: relative;
  background: url(../img/melissia-suares-7dhnDG46L2E-unsplash.jpg);
  background-size: cover;
  min-height 700px;
}

.background-overlay {
  background: rgba(48, 51, 107,.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-control, .btn{
  border-radius: 0;
}



/* change the brand and text color */


/* change the link color */

/* change the color of active or hovered links */
